#-*-Makefile-*- vim:syntax=make

PLATFORM = moteist5
MSP_MCU = msp430f5438a

$(call TOSMake_include_platform,msp)

moteist5: $(BUILD_DEPS)
        @:
