#-*-Makefile-*- vim:syntax=make

PLATFORM ?= red

OPTFLAGS ?= -Os

MSP_MCU = cc430f5137
IAR_MCU_GROUP = cc430x513x
IAR_LINKER_XCL = lnkcc430F5137.xcl


# $(call TOSMake_include_platform,red)
$(call TOSMake_include_platform,msp)

red: $(BUILD_DEPS)
        @:
